.page-header {
  margin-top: 0;
}

adjacency-matrix {
  height: 600px;
  width: 600px;
  display: block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

svg text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

.nv-axisMaxMin text {
  font-weight: normal !important;
}

.glyphicon {
  font-size: 15px;
}
