.page-header {
  margin-top: 0;
}

adjacency-matrix {
  height: 600px;
  width: 600px;
  display: block;
}

.dropdown-toggle {
  cursor: pointer;
}

svg text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}
