*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
data/vendor

# YARD artifacts
.yardoc
_yardoc
doc/

# Grunt/Bower
node_modules
.tmp
.sass-cache
app/bower_components
