<style>
  .background { fill: #eee; }
  line { stroke: #fff; }
  svg text { font: 10px sans-serif; }
  .scale {
    height: 15px;
    float: left;
    text-align: center;
  }
</style>
<div class="page-header">
  <h1 ng-cloak>{{party.label}}</h1>
  <p>
    <a href="#/">Home</a>
  </p>
</div>
<div class="row">
  <div class="col-md-10">
    <adjacency-matrix data-filepath="filepath"></adjacency-matrix>
  </div>
  <div class="col-md-2">
    <select ng-model="year" ng-options="year for year in party.years"></select>
  </div>
</div>
