<div class="page-header">
  <h1 ng-cloak>{{party.label}}</h1>
  <a href="{{filepath}}">Download</a>
  <select id="year" class="form-control" ng-model="year" ng-options="year for year in party.years"></select>
</div>
<div class="row">
  <div class="col-md-8 col-lg-7">
    <adjacency-matrix
    ng-class="{interactive: showLabels}"
    data-show-labels="showLabels"
    data-graph="graph"
    data-order-id="orderId"
    orders="orders"
    active-cell="activeCell">
    </adjacency-matrix>
  </div>
  <div class="col-md-4 col-lg-5">
    <div class="row">
      <h2>Dados</h2>
        <p><em>{{graph.nodes.length}}</em> deputados</p>
        <p><em>{{graph.stats.filtered_voting_sessions}}</em> votações 
        (de <em>{{graph.stats.total_voting_sessions}}</em>)</p>
        <p ng-show="activeCell.colName && showLabels">
          {{activeCell.rowName}} ({{activeCell.rowPartido}}) votou igual a
          {{activeCell.colName}} ({{activeCell.colPartido}})
          {{activeCell.value | roundedPercentual}} das vezes
        </p>
    </div>
    <div class="row">
      <h2>Histograma</h2>
      <histogram data-graph="graph"></histogram>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <h2>Coesão</h2>
    <timeline data-values="quartiles" show-as-percentual="true"></timeline>
  </div>
  <div class="row">
    <h2>Deputados</h2>
    <timeline data-values="deputados"></timeline>
  </div>
  <div class="row">
    <h2>Votações</h2>
    <timeline data-values="sessions"></timeline>
  </div>
</div>
