<h1>Equipe</h1>
<div class="row">
  <h2>Fernando Brito</h2>
  <p>
    Graduando em Computação na UFPB e membro do Laboratório de Aplicações de
    Vídeo Digital.
  </p>
</div>
<div class="row">
  <h2>Filipe Almeida</h2>
  <p>
    Mestrando do Programa de Pós-Graduação em Comunicação da Universidade
    Federal da Paraíba e graduado em Design Gráfico pela Faculdade
    Estácio/Idez. É Integrante do Grupo de Pesquisa em Processos e Linguagens
    Midiáticas - GMID/PPGC/UFPB; participa do Projeto Para Ler o Digital: a
    reconfiguração do livro na Cibercultura; e faz parte da equipe de
    implementação do PKP System na Editora da UFPB. Tem interesse em pesquisas
    na área de livro digital, cibercultura, culturas midiáticas, midiatização,
    processo editorial, marketing digital e infografia interativa.
  </p>
</div>
<div class="row">
  <h2>Janse Brasileiro</h2>
  <p>
    Graduando em Computação na UFPB.
  </p>
</div>
<div class="row">
  <h2>Patrícia Medeiros de Lima</h2>
  <p>
    Mestranda do Programa de Pós-Graduação em Comunicação da Universidade
    Federal da Paraíba, MBA/Especialista em Administração e Marketing pela
    Faculdade Internacional de Curitiba (UNINTER) e possui graduação em Comunicação
    Social (Jornalismo) pelas Faculdades Integradas de Patos. Participa do Grupo de
    Pesquisa em Processos e Linguagens Midiáticas – GMID/PPGC/UFPB.
  </p>
</div>
<div class="row">
  <h2>Vítor Baptista</h2>
  <p>
    Desenvolvedor da Open Knowledge Foundation, trabalha com o
    do CKAN, um sistema para criação de portais de dados abertos, e o
    OpenSpending, site colaborativo que reúne informações de orçamento de mais de
    60 países.

    Membro da Transparência Hacker, seu maior interesse é em como a tecnologia
    pode empoderar a população, facilitando o acesso à informação. Apaixonado por
    visualização de dados, pesquisa formas de tornar o processo legislativo mais
    acessível à sociedade no mestrado em Computação da UFPB.
  </p>
</div>
